[*.cs]

# CS2001: Source file 'C:\Users\alvar\source\repos\Progra avanzada\ProyectoFinalDoggo\ProyectoFinalDoggo\Models\Model2.Context.cs' could not be found.
dotnet_diagnostic.CS2001.severity = silent
