@model ProyectoFinalDoggo.Models.compras

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/DoggoLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>compras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Costo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COSTO)
        </dd>

        <dt>
            Nombre del producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.nomProducto)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            @if (Session != null && Session["usuario"] != null && Session["rol"].ToString() == "admin")
            {
                <div class="text-center">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                </div>
            }

            <div>
                <a href="@Url.Action("Index")" class="btn btn-dark bottom-right">Volver</a>
            </div>
        </div>
    }
</div>
