<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Login-theme.css")
    @Scripts.Render("~/Scripts/Login.js")
</head>
<body>
    <div class="form-structor">
        <div class="Registrar">
            <h2 class="form-title" id="signup"><span>or</span>Registrar</h2>
            <div class="form-holder">
                <input type="text" class="input" placeholder="Usuario" />
                <input type="text" class="input" placeholder="Nombre" />
                <input type="text" class="input" placeholder="Apellido" />
                <input type="text" class="input" placeholder="Direccion" />
                <input type="email" class="input" placeholder="Correo" />
                <input type="number" class="input" placeholder="Telefono" />
                <input type="password" class="input" placeholder="Password" />
                <button class="submit-btn">Registrarse</button>
            </div>
        </div>
        <div class="login slide-up">
            <div class="center">
                <h2 class="form-title" id="login"><span>or</span>Ingresar</h2>
                <div class="form-holder">
                    <input type="text" class="input" placeholder="Usuario" />
                    <input type="password" class="input" placeholder="Password" />
                </div>
                <button class="submit-btn">Ingresar</button>
            </div>
        </div>
    </div>
</body>
</html>
