@model IEnumerable<ProyectoFinalDoggo.Models.Productos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/DoggoLayout.cshtml";
}

<h1 class="heading">Bienvenido a DoggoCR</h1>
<br />

<div class="home">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="~/images/img4.jpg" class="card-img-top imgCards" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paquetes</h5>
                    <p class="card-text">Para los consentidos de la casa</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/images/img5.jpg" class="card-img-top imgCards" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Promociones</h5>
                    <p class="card-text">Para salvar tu billetera</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/images/img6.jpg" class="card-img-top imgCards" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Descuentos</h5>
                    <p class="card-text">En tus productos favoritos</p>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>
